<!-- topnavbar -->
<div class="topnav shadow p-1">
    <a>Admin Dashboard</a>
    <span class="menu" (click)="openNav(true)"><i class="bi bi-list"></i></span>
</div>
<!-- topnavbar -->

<!-- left sidebar nav  -->

<div  class="sidebar shadow p-2"  id="sidebar"  [ngStyle]="responsiveMenu">
    <ul>
        <li><a routerLink=""><i class="bi bi-speedometer2"></i> Dashboard</a></li>
        <li><a routerLink="/reports"><i class="bi bi-card-text"></i> Reports</a></li>
        <li>
            <a href="#"><i class="bi bi-bag"></i> Products <i class="bi bi-arrow-right icon"></i></a>
            <ul class="dropdow-container">
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="bi bi-tag"></i> Categories <i class="bi bi-arrow-right icon"></i></a>
            <ul class="dropdow-container">
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
            </ul>
        </li>
        <li><a routerLink="/users"><i class="bi bi-person-gear"></i> User</a></li>
        <li><a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a></li>

    </ul>
</div>
<!-- left sidebar nav  -->


<!-- main content  -->

<div class="main-content" [ngStyle]="responsiveContent">
    <router-outlet></router-outlet>
</div>

<!-- main content  -->
